/* CSS Document */
div.ControlsRow,
div.HeadersRow {
  font-family: Georgia;
}

.ObjectBrace {
  color: #0a0;
  font-weight: bold;
}

.ArrayBrace {
  color: #03f;
  font-weight: bold;
}

.PropertyName {
  color: #c00;
  font-weight: bold;
}

.String {
  color: #077;
}

.Number {
  color: #a0a;
}

.Boolean {
  color: #00f;
}

.Function {
  color: #a63;
  text-decoration: italic;
}

.Null {
  color: #00f;
}

.Comma {
  color: #000;
  font-weight: bold;
}

pre.CodeContainer {
  margin-top: 0;
  margin-bottom: 0;
}

pre.CodeContainer img {
  margin-bottom: -1px;
  border: none;
  cursor: pointer;
}

#CollapsibleViewDetail a {
  padding-left: 10px;
}

#ControlsRow {
  font: 11px Georgia;
  white-space: nowrap;
}

#TabSizeHolder {
  padding-right: 10px;
  padding-left: 10px;
}

#HeaderTitle {
  font-size: 11px;
  text-align: right;
}

#HeaderSubTitle {
  margin-top: 0;
  margin-bottom: 2px;
}

a.OtherToolsLink {
  color: #555;
  text-decoration: none;
}

a.OtherToolsLink:hover {
  text-decoration: underline;
}
