<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://user-images.githubusercontent.com/19237129/93707435-289d0500-fb61-11ea-81a4-d2c90bd14065.png"
    />
    <link rel="stylesheet" href="/cving/umi.css" />
    <script>
      window.routerBase = "/cving";
    </script>
    <script>
      //! umi version: 3.2.19
    </script>
    <title>Foo</title>
  </head>
  <body>
    <div id="root"></div>

    <script src="/cving/umi.js"></script>
  </body>
</html>
