.form-interface-name {
  width: 300px;
}

.interface-container {
  position: relative;
  width: min-content;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.interface-copy__btn {
  position: absolute;
  top: 0;
  right: 0;
}
